body{
    background-image: url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/204364595/original/86db6005cd51b4f60e71cca277f603a82cf5646a/draw-a-pixel-pokemon-battle-background.png');
    background-size: 100%;
    font-size: 20px;
    /* font-family: 'Pokemon Solid', sans-serif; */
    font-family: "formula 1";
}
@font-face {
    font-family: "formula 1";
    src: url(../font/pokemon-ds-font.ttf);
}                
.poke1{
    color: white;
    position: relative;
    left: 340px;
    top: 370px;

}
body, img{
    width: 250px;
    height: 200px;
}
.poke2{
    color: green;
    position: relative;
    left: 880px;
    bottom: 50px;

}
.vie1{
    position: relative;
    left: 390px;
    top: 330px;
    color: white;
}
.vie2{
    position: relative;
    left: 920px;
    top: 60px;
    color: white;
}
input{
    width: 150px;
    height: 80px;
    color: white;
    background-color: rgb(156, 170, 180);
    border-radius: 10px;
    border: solid white;
    font-family: "formula 1";
    font-size: 19px;
}
input:hover{
    color: black;
    background-color: white;
}
.move1{
    position: relative;
    left: 15px;
    top: 110px;
}
.move2{
    position: relative;
    left: 60px;
    top: 10px;
}
.move3{
    position: relative;
    left: 15px;
    bottom: 70px;
}
.move4{
    position: relative;
    left: 60px;
    top: 30px;
}
.bgmove{
    background-color: black;
    border: solid 2px white;
    width: 380px;
    height: 200px;
    position: absolute;
    z-index: -10;
    left: 940px;
    bottom: 10px;
    border-radius: 10px;
}
.degat{
    width: 350px;
    height: 30px;
    background-color: green;
    position: relative;
    left: 270px;
    bottom: 120px;
}
.degat2{
    width: 350px;
    height: 30px;
    background-color: green;
    background-color: green;
    position: relative;
    left: 800px;
    bottom: 400px;
}
.noir{
    width: 370px;
    height: 40px;
    background-color: black;
    position: relative;
    left: 790px;
    bottom: 365px;
    z-index: -10;
}
.noir2{
    width: 370px;
    height: 40px;
    background-color: black;
    position: relative;
    left: 260px;
    bottom: 225px;
    z-index: -10;
}
